# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/venv/
venv/
/ga-credentials-b5c9b7323064.json
/.idea/
target/
*.class
*.log
.DS_Store
.idea
.ensime
.ensime_cache
project/target/
project/project/
*.pyc
*.mine

